/* placeholder logo */
.logo {
  color: var(--colour-primary5);
}
/* ================ */
/* navbar component */
/* ================ */
.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.toggle-nav {
  background-color: transparent;
  border: transparent;
}

.toggle-nav svg {
  color: var(--colour-primary5);
  font-size: 2rem;
  cursor: pointer;
  display: flex;
}

.nav-links {
  display: none;
}

@media (min-width: 992px) {
  .nav-links {
    display: flex;
    gap: 2rem;
  }
  .nav-links a {
    text-transform: capitalize;
    font-size: 1.25rem;
    color: var(--colour-grey-heading);
    padding-bottom: 0.25rem;
    padding: 8px;
  }
  .nav-links a:hover {
    border-bottom: solid var(--colour-primary5) 2px;
  }
  .toggle-nav {
    display: none;
  }
}
/* end of navbar component */

/* ====================== */
/* cart buttons component */
/* ====================== */
.cart-buttons-container {
  display: flex;
  gap: 1rem;
}

.cart-buttons-control {
  display: none;
}

.cart-btn {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  color: var(--colour-primary5);
  gap: 0.1rem;
}
.cart-container {
  display: flex;
  align-items: center;
}
.cart-value {
  position: absolute;
  background-color: var(--colour-primary1);
  font-size: 0.75rem;
  display: flex;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.15rem;
  top: -8px;
  right: -10px;
}

.auth-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--colour-primary5);
}

@media (min-width: 992px) {
  .cart-buttons-container {
    display: flex;
  }
  .cart-buttons-control {
    display: flex;
  }
}
/* end of cart buttons component */

/* ================ */
/* footer component */
/* ================ */
.footer {
  height: 5rem;
  background-color: #242424;
  color: var(--colour-grey-light);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
/* end of footer */

/* ================= */
/* sidebar component */
/* ================= */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-white);
  transform: translate(-100%);
  z-index: -1;
  transition-duration: 0.5s;
}
.show-sidebar {
  transform: translate(0);
  z-index: 999;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 5rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
  display: flex;
}
.close-btn:hover {
  color: var(--clr-red-light);
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.sidebar-links a {
  color: var(--colour-grey-heading);
  font-weight: 700;
  display: block;
}
.sidebar-links li {
  padding: 0.75rem;
}
.sidebar-links li:hover {
  background-color: var(--colour-grey-light);
  padding-left: 1.25rem;
  transition-duration: 0.5s;
}
.centre-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .sidebar-container {
    display: none;
  }
}
/* end of sidebar */

/* ================= */
/* Error Page */
/* ================= */
.error-page {
  height: calc(100vh - 10rem);
  background-color: var(--colour-primary5);
  color: var(--colour-grey-light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-page h1 {
  font-size: 10rem;
}
.error-page h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
/* end of error */

/* =================== */
/* Page Hero component */
/* =================== */
.page-hero {
  background-color: var(--colour-primary1);
  color: var(--colour-primary9);
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 10%;
  font-size: 2rem;
  text-transform: capitalize;
}
/* end of page hero component */

/* ========== */
/* About Page */
/* ========== */
.about-img {
  width: 90vw;
  height: 30rem;
  margin: 4rem 0;
  border-radius: 5px;
  display: block;
  object-fit: cover;
}

.about-page {
  min-height: calc(100vh - 15rem);
}

.about-page h2 {
  font-size: 2rem;
  color: var(--colour-grey-heading);
}

.about-page p {
  color: var(--colour-grey-text);
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

@media (min-width: 1100px) {
  .about-big {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .about-page {
    display: flex;
  }
  .about-img {
    min-height: 35rem;
    max-width: 30rem;
  }
}
/* end of about page */

/* =================== */
/* Home Hero component */
/* =================== */
.main-hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  min-height: 40vh;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.main-hero-content h1 {
  color: var(--clr-black);
  font-size: 3rem;
  line-height: 1.25;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-hero-content p {
  color: var(--colour-grey-text);
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

.main-hero-content a {
  font-size: 1rem;
  width: 8rem;
  text-align: center;
}
.img-container {
  display: none;
}

@media (min-width: 992px) {
  .main-hero-content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 40%;
  }
  .img-container {
    display: block;
    position: relative;
    height: 60%;
    width: 40%;
    max-width: 30rem;
  }
  .hero-main-img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
  }
  .hero-main-big {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5rem);
    gap: 4rem;
  }
  .hero-small-img {
    position: absolute;
    bottom: 1rem;
    left: -2rem;
    border-radius: 25%;
    height: 15rem;
    width: 15rem;
  }
}

/* end of hero component */

/* ================== */
/* Services component */
/* ================== */
.services-section {
  background-color: var(--colour-primary1);
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.services-header {
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.services-header h3 {
  font-size: var(--header-size);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: var(--colour-primary9);
  font-weight: 900;
}
.services-header p {
  color: var(--colour-primary9);
  font-weight: 500;
  line-height: 1.5;
}
/* */
.services-centre {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.service {
  height: 20rem;
  width: 90vw;
  max-width: 40rem;
  padding: 2rem 1rem;
  margin: auto;
  text-align: center;
  background-color: var(--colour-primary9);
  font-weight: 700;
  color: var(--colour-primary1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
}
.service h4 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
.service p {
  line-height: 1.5;
  font-size: 1rem;
}
.service-icon {
  font-size: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
}

@media (min-width: 992px) {
  .services-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .services-header p {
    width: 50%;
  }
}
/*  */
@media (min-width: 1100px) {
  .services-centre {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 65rem;
  }
  .service {
    max-width: 20rem;
  }
}
/* end of services */

/* ================== */
/* Contact component */
/* ================== */
.contact-section {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-left: 5%;
  margin-right: 5%;
}
.contact-section h3 {
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--colour-primary5);
}
.contact-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-content p {
  color: var(--colour-grey-text);
  line-height: 1.5;
  letter-spacing: 0.1rem;
}
.contact-form {
  width: 90vw;
  max-width: 500px;
}
.form-input {
  width: 70%;
  padding: 0.5rem;
  border: solid black 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.submit-btn {
  padding: 0.5rem;
  border: solid black 2px;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  width: 30%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  background-color: var(--colour-primary3);
  color: var(--colour-primary9);
  font-weight: 900;
  transition-duration: 0.5s;
}
.submit-btn:hover {
  color: var(--clr-white);
}

@media (min-width: 992px) {
  .contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contact-section h3 {
    font-size: 1.25rem;
  }
}
@media (min-width: 1400px) {
  .contact-content {
    gap: 5rem;
  }
}
/* subscribe btn small screen fix */
@media (max-width: 430px) {
  .form-input {
    font-size: 0.75rem;
    width: 60%;
  }
  .submit-btn {
    width: 6rem;
    font-size: 0.75rem;
  }
}
/* end of contact */

/* ========================== */
/* FeaturedProducts component */
/* ========================== */
.featured-products-section {
  background-color: whitesmoke;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 40rem;
}
.featured-products-section h2 {
  font-size: 2rem;
  text-align: center;
}

/* ================= */
/* Product component */
/* ================= */
.featured-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-container {
  display: flex;
  flex-direction: column;
  background: black;
  border-radius: 6px;
  position: relative;
  /* max-width: 20rem; */
  /* min-width: 15%; */
}

.product-container img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  opacity: 1;
  transition-duration: 0.5s;
}

.product-container a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--colour-primary5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--clr-white);
  font-size: 1.25rem;
  opacity: 0;
  transition-duration: 0.5s;
}

.product-container:hover img {
  opacity: 0.5;
}
.product-container:hover a {
  opacity: 1;
}

.featured-products footer {
  display: flex;
  justify-content: space-between;
  color: var(--colour-primary5);
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .featured-products {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .product-container {
    max-width: 20rem;
  }
}

/* end of featured products */
