/* placeholder logo */
.logo {
  color: var(--colour-primary5);
}
/* ================ */
/* navbar component */
/* ================ */
.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.toggle-nav {
  background-color: transparent;
  border: transparent;
}

.toggle-nav svg {
  color: var(--colour-primary5);
  font-size: 2rem;
  cursor: pointer;
  display: flex;
}

.nav-links {
  display: none;
}

@media (min-width: 992px) {
  .nav-links {
    display: flex;
    gap: 2rem;
  }
  .nav-links a {
    text-transform: capitalize;
    font-size: 1.25rem;
    color: var(--colour-grey-heading);
    padding-bottom: 0.25rem;
    padding: 8px;
  }
  .nav-links a:hover {
    border-bottom: solid var(--colour-primary5) 2px;
  }
  .toggle-nav {
    display: none;
  }
}
/* end of navbar component */

/* ====================== */
/* cart buttons component */
/* ====================== */
.cart-buttons-container {
  display: flex;
  gap: 1rem;
}

.cart-buttons-control {
  display: none;
}

.cart-btn {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  color: var(--colour-primary5);
  gap: 0.1rem;
}
.cart-container {
  display: flex;
  align-items: center;
}
.cart-value {
  position: absolute;
  background-color: var(--colour-primary1);
  color: var(--clr-white);
  font-size: 0.75rem;
  display: flex;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.15rem;
  top: -8px;
  right: -10px;
}

.auth-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--colour-primary5);
}

@media (min-width: 992px) {
  .cart-buttons-container {
    display: flex;
  }
  .cart-buttons-control {
    display: flex;
  }
}
/* end of cart buttons component */

/* ================ */
/* footer component */
/* ================ */
.footer {
  height: 5rem;
  background-color: #242424;
  color: var(--colour-grey-light);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
/* end of footer */

/* ================= */
/* sidebar component */
/* ================= */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-white);
  transform: translate(-100%);
  z-index: -1;
  transition-duration: 0.5s;
}
.show-sidebar {
  transform: translate(0);
  z-index: 999;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 5rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
  display: flex;
}
.close-btn:hover {
  color: var(--clr-red-light);
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.sidebar-links a {
  color: var(--colour-grey-heading);
  font-weight: 700;
  display: block;
}
.sidebar-links li {
  padding: 0.75rem;
}
.sidebar-links li:hover {
  background-color: var(--colour-grey-light);
  padding-left: 1.25rem;
  transition-duration: 0.5s;
}
.centre-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .sidebar-container {
    display: none;
  }
}
/* end of sidebar */

/* ================= */
/* Error Page */
/* ================= */
.error-page {
  height: calc(100vh - 10rem);
  background-color: var(--colour-primary5);
  color: var(--colour-grey-light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-page h1 {
  font-size: 10rem;
}
.error-page h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
/* end of error */

/* =================== */
/* Page Hero component */
/* =================== */
.page-hero {
  background-color: var(--colour-primary1);
  color: var(--colour-primary9);
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 10%;
  font-size: 2rem;
  text-transform: capitalize;
}
/* end of page hero component */

/* ========== */
/* About Page */
/* ========== */
.about-img {
  width: 90vw;
  height: 30rem;
  margin: 4rem 0;
  border-radius: 5px;
  display: block;
  object-fit: cover;
}

.about-page {
  min-height: calc(100vh - 15rem);
}

.about-page h2 {
  font-size: 2rem;
  color: var(--colour-grey-heading);
}

.about-page p {
  color: var(--colour-grey-text);
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

@media (min-width: 1100px) {
  .about-big {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .about-page {
    display: flex;
  }
  .about-img {
    min-height: 35rem;
    max-width: 30rem;
  }
}
/* end of about page */

/* =================== */
/* Home Hero component */
/* =================== */
.main-hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  min-height: 40vh;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.main-hero-content h1 {
  color: var(--clr-black);
  font-size: 3rem;
  line-height: 1.25;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-hero-content p {
  color: var(--colour-grey-text);
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

.main-hero-content a {
  font-size: 1rem;
  width: 8rem;
  text-align: center;
}
.img-container {
  display: none;
}

@media (min-width: 992px) {
  .main-hero-content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 40%;
  }
  .img-container {
    display: block;
    position: relative;
    height: 60%;
    width: 40%;
    max-width: 30rem;
  }
  .hero-main-img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
  }
  .hero-main-big {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5rem);
    gap: 4rem;
  }
  .hero-small-img {
    position: absolute;
    bottom: 1rem;
    left: -2rem;
    border-radius: 25%;
    height: 15rem;
    width: 15rem;
  }
}

/* end of hero component */

/* ================== */
/* Services component */
/* ================== */
.services-section {
  background-color: var(--colour-primary1);
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.services-header {
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.services-header h3 {
  font-size: var(--header-size);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: var(--colour-primary9);
  font-weight: 900;
}
.services-header p {
  color: var(--colour-primary9);
  font-weight: 500;
  line-height: 1.5;
}
/* */
.services-centre {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.service {
  height: 20rem;
  width: 90vw;
  max-width: 40rem;
  padding: 2rem 1rem;
  margin: auto;
  text-align: center;
  background-color: var(--colour-primary9);
  font-weight: 700;
  color: var(--colour-primary1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
}
.service h4 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
.service p {
  line-height: 1.5;
  font-size: 1rem;
}
.service-icon {
  font-size: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
}

@media (min-width: 992px) {
  .services-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .services-header p {
    width: 50%;
  }
}
/*  */
@media (min-width: 1100px) {
  .services-centre {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 65rem;
  }
  .service {
    max-width: 20rem;
  }
}
/* end of services */

/* ================== */
/* Contact component */
/* ================== */
.contact-section {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-left: 5%;
  margin-right: 5%;
}
.contact-section h3 {
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--colour-primary5);
}
.contact-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-content p {
  color: var(--colour-grey-text);
  line-height: 1.5;
  letter-spacing: 0.1rem;
}
.contact-form {
  width: 90vw;
  max-width: 500px;
}
.form-input {
  width: 70%;
  padding: 0.5rem;
  border: solid black 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.submit-btn {
  padding: 0.5rem;
  border: solid black 2px;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  width: 30%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  background-color: var(--colour-primary3);
  color: var(--colour-primary9);
  font-weight: 900;
  transition-duration: 0.5s;
}
.submit-btn:hover {
  color: var(--clr-white);
}

@media (min-width: 992px) {
  .contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contact-section h3 {
    font-size: 1.25rem;
  }
}
@media (min-width: 1400px) {
  .contact-content {
    gap: 5rem;
  }
}
/* subscribe btn small screen fix */
@media (max-width: 430px) {
  .form-input {
    font-size: 0.75rem;
    width: 60%;
  }
  .submit-btn {
    width: 6rem;
    font-size: 0.75rem;
  }
}
/* end of contact */

/* ========================== */
/* FeaturedProducts component */
/* ========================== */
.featured-products-section {
  background-color: whitesmoke;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 40rem;
}
.featured-products-section h2 {
  font-size: 2rem;
  text-align: center;
}

/* ================= */
/* Product component */
/* ================= */
.featured-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-container {
  display: flex;
  flex-direction: column;
  background: black;
  border-radius: 6px;
  position: relative;
  /* max-width: 20rem; */
  /* min-width: 15%; */
}

.product-container img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  opacity: 1;
  transition-duration: 0.5s;
}

.product-container a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--colour-primary5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--clr-white);
  font-size: 1.25rem;
  opacity: 0;
  transition-duration: 0.5s;
}

.product-container:hover img {
  opacity: 0.5;
}
.product-container:hover a {
  opacity: 1;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  color: var(--colour-primary5);
  margin-top: 1rem;
}

@media (min-width: 1020px) {
  .featured-products {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .product-container {
    max-width: 20rem;
  }
}

/* end of featured products */

/* =========================== */
/* SingleProductPage component */
/* =========================== */

.single-product-page {
  min-height: calc(100vh - 10rem);
}
.single-product-section a {
  margin-bottom: 1rem;
}
.single-product-section {
  padding: 4rem 0;
}
.single-product-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.single-product-content h2 {
  font-size: 2rem;
  text-transform: capitalize;
}
.single-product-price {
  color: var(--colour-primary5);
  font-weight: 700;
}

.single-product-content p {
  line-height: 1.5;
}
.info {
  width: 300px;
  display: grid;
  grid-template-columns: 125px 1fr;
  text-transform: capitalize;
}

/* ProductImages component */
.main-image {
  height: 15rem;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.gallery {
  display: flex;
  justify-content: space-between;
}
.gallery img {
  height: 3rem;
  width: 18%;
  cursor: pointer;
  border-radius: 5px;
}
.gallery-active {
  border: solid var(--colour-primary1);
}

@media (min-width: 700px) {
  .main-image {
    height: 25rem;
  }
  .gallery img {
    height: 6rem;
  }
}
/* end of product images */

@media (min-width: 1000px) {
  .products-centre {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .single-product-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .single-product-page p {
    font-size: 1rem;
  }
}
/* stars component */
.stars-review-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.stars {
  display: flex;
  gap: 0.1rem;
  color: rgb(233, 185, 41);
}
/* end of stars component */
/* add to cart component */

.colours-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.colour-btn {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #222;
  color: white;
  margin-right: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colour-btns-container {
  display: flex;
}
.colour-active {
  opacity: 1;
}
/* end of add to cart component */

/* AmountButtons component */

.amount-btns-container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.amount-btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.amount-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.add-to-cart-btn {
  width: 9rem;
  text-align: center;
}

/* end of AmountButtons component */
/* end of single product page */

/* =========================== */
/* ProductsPage component */
/* =========================== */

.product-page-height {
  min-height: calc(100vh - 10rem);
}

/* grid-view component */
.grid-products-container {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
}
.grid-products-container article {
  min-width: 80vw;
  display: flex;
  flex-direction: column;
}

.products-page-content-container {
  width: 90vw;
  margin: auto;
}

@media (min-width: 1020px) {
  .grid-products-container article {
    min-width: 15rem;
    max-width: 15rem;
  }

  .grid-products-container article footer p {
    font-size: 0.9rem;
  }

  .grid-products-container {
    width: 800px;
  }
  .products-page-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .grid-products-container article {
    width: 10rem;
  }
}

/* end of grid-view component */

/* ListView component */
.listview-section {
}

.listview-img {
  display: block;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.listview-name {
  margin-bottom: 0.5rem;
}
.listview-price {
  color: var(--colour-primary5);
  margin-bottom: 0.5rem;
}
.listview-description {
  max-width: 45rem;
  margin-bottom: 1rem;
}
@media (min-width: 1020px) {
  .listview-section {
    width: 800px;
  }
}
.listview-btn {
  font-size: 0.5rem !important;
  padding: 0.25rem 0.5rem !important;
  margin-bottom: 4rem;
}

/* end of ListView */

/* end of ProductsPage */

/* sort component */

.sort-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  margin-bottom: 2rem;
}

.btns-container-sort {
  display: flex;
  gap: 0.5rem;
}

.list-type-btn {
  background: transparent;
  border: 1px solid var(--clr-black);
  color: var(--clr-black);
  width: 1.5rem;
  border-radius: 5px;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btns-container-sort button svg {
  font-size: 1rem;
}

.active-list-type {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.sort-label {
  font-size: 1rem;
  text-transform: capitalize;
  display: inline-block;
  margin-right: 1rem;
}

.sort-input {
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.25rem, 0.5rem;
}

@media (min-width: 650px) {
  .sort-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sort-section hr {
    width: 20%;
  }
}

/* end of sort component */

/* filter Component */

.form-control {
  margin-bottom: 1.25rem;
}
.filter-title {
  font-weight: 900;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.filter-content {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.search-input {
  padding: 0.5rem;
  background-color: var(--colour-grey-light);
  letter-spacing: 0.1rem;
  border-color: transparent;
  border-radius: 5px;
  font-size: 1rem;
}
.search-input::placeholder {
  text-transform: capitalize;
}
.categories-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.categories-container button {
  background: transparent;
  border: transparent;
  cursor: pointer;
  color: var(--colour-grey-heading);
  line-height: 1.25rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.active-category {
  border-bottom: 2px solid var(--colour-grey-heading) !important;
}

.company-input {
  margin-top: 0.5rem;
  background-color: var(--colour-grey-light);
  border: transparent;
  padding: 0.25rem;
  border: 5px;
}

.colours-form-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.25rem;
}

.all-btn {
  background: transparent;
  border: transparent;
  cursor: pointer;
  color: var(--colour-grey-heading);
  line-height: 1.25rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.price-input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.shipping {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.clear-btn {
  background-color: var(--clr-red-dark);
  color: var(--clr-white);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 0.1rem;
  border: transparent;
  cursor: pointer;
}

@media (min-width: 1020px) {
  .filter-content {
    position: sticky;
    top: 1rem;
  }
}
/* end of filter Component */

/* CartPage */
.cart-page-height {
  min-height: calc(100vh - 10rem);
}
/* CartColumns */
.cart-columns {
  display: none;
}

@media (min-width: 776px) {
  .cart-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .one {
    width: 15rem;
    justify-content: center;
    display: flex;
  }

  .cart-columns h5 {
    color: var(--colour-grey-text);
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1rem;
  }
  .cart-columns-width {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}

/* end of CartColumns */

/* cartTotals */
.cart-total-section {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.cart-total {
  border: solid var(--colour-grey-text);
  padding: 1.5rem 3rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.cart-total h5 {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 500;
}
.cart-total p {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1rem;
}
.cart-total h4 {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  font-size: 1rem;
}
.cart-total-link {
  width: 25rem;
  text-align: center;
}

@media (min-width: 776px) {
  .cart-total-section {
    justify-content: flex-end;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
/* end of cartTotals */

/* cartItem */

.cart-img {
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
  object-fit: cover;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.cart-title {
  width: 15rem;
  display: flex;

  align-items: center;
  gap: 1rem;
}
.cart-item-values {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.cart-item-name {
  color: var(--clr-black);
  text-transform: capitalize;
}
.cart-item-colour {
  color: var(--clr-black);
  text-transform: capitalize;
  font-size: 1rem;
}

.colour-span {
  display: inline-block;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.5rem;
}

.remove-btn {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-red-dark);
  color: var(--clr-white);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

/* screen displays */
.price-small {
  color: var(--colour-primary5);
}
.price-big {
  display: none;
}
.subtotal {
  display: none;
}
@media (min-width: 776px) {
  .price-small {
    display: none;
  }
  .price-big {
    display: block;
    color: var(--colour-primary5);
  }
  .subtotal {
    color: grey;
    display: block;
  }
  .cart-item {
    display: flex;
    justify-content: space-between;
  }
}
/* end of cartItem */

/* cart links */
.cart-link-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 776px) {
  .cart-link-container {
    justify-content: space-between;
  }
}
.clear-cart-btn {
  text-transform: uppercase;
  transition-duration: 0.3s;
}
.clear-cart-btn:hover {
  background-color: var(--clr-red-light);
}

.line-90 {
  width: 90vw;
  margin: auto;
}
/* end of cart links */
/* empty cart */
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}
.empty h2 {
  font-size: 1.75rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

/* end of empty cart */
/* end of CartPage */

.error-container {
  min-height: calc(100vh - 10rem);
}

/* styling bug fixes */
.error-message-container {
  margin-bottom: 1rem;
}

@media (min-width: 650px) {
  .error-message-container {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1020px) {
  .error-message-container {
    width: 800px;
  }
}
